@model IEnumerable<siteweb.Models.rendez_vous>

@{
    ViewBag.Title = "Les Rendez-vous recu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Les Rendez-vous recu</h2>

<link href="~/Content/medecine.css" rel="stylesheet" />

<table class="table">
    <tr>
        <th>
            @Html.Label("Specialite")
        </th>
        <th>
            @Html.Label("nom de client")
        </th>
        <th>
            @Html.Label("prenom")
        </th>
        <th>
            @Html.Label("CNE")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.Medcine.Specialite.nom)</strong>  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
      
    </tr>
}

</table>
